/* FILTER COULMN */

.searchfield {
    background-color: rgb(241, 245, 248);
    border-radius: 5px;
    border-color: transparent;
    padding: 3px 14px;
}

.categoryname {
    color: rgb(116, 140, 164);
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.clearbtn {
    color: white;
    background-color: red;
    border-radius: 7px;
    padding: 3px 16px;
    border-color: transparent;
}

.dottedbtn {
    margin: 0px 5px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border-color: transparent;
}

@media screen and (min-width: 992px) {
    .fcol {
        height: 100%;
        top: 0;
        position: sticky;
    }
}

/*  PRODUCT FILTER */

.postertext {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    width: 50%;
    font-family: cursive;
}

.posterofftext {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    width: 50%;
    font-family: cursive;
}

.productbox {
    width: 19rem;
    position: relative;
    padding: 20px;
}

.productdisc {
    position: absolute;
    top: 10px;
    background-color: white;
    color: rgba(0, 0, 0, 0.714);
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    left: 12px;
}

.productname {
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 0;
    line-height: 20px;
}

.productprice {
    font-family: Montserrat;
    font-weight: 600;
    text-align: left;
    color: black;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    text-align: center;
}

.productdiscount {
    font-family: Montserrat;
    font-weight: 600;
    text-align: left;
    color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    line-height: 24px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration-line: line-through;
}

.productoff {
    font-family: Montserrat;
    font-weight: 600;
    color: #27ae60;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
}

.gridtemplate {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
}

/* .cartbox {
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 0px;
    border-color: transparent;
    visibility: visible;
}

@media only screen and (min-width: 768px) {
    .cartbox {
        width: 100%;
        background-color: black;
        color: white;
        padding: 8px 0px;
        border-color: transparent;
        visibility: hidden;
    }

    .productbox:hover .cartbox {
        visibility: visible
    }

    .productbox:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
} */

@media screen and (max-width: 333px) {
    .productname {
        font-size: 8px;
    }

    .productprice {
        font-size: 8px;
    }

    .productdiscount {
        font-size: 8px;
    }

    .productoff {
        font-size: 8px;
    }

    .productdisc {
        font-size: 9px;
    }
}

@media only screen and (max-width: 415px) and (min-width: 333px) {
    .productname {
        font-size: 10px;
    }

    .productprice {
        font-size: 10px;
    }

    .productdiscount {
        font-size: 10px;
    }

    .productoff {
        font-size: 10px;
    }

    .productdisc {
        font-size: 11px;
    }
}

@media only screen and (max-width: 465px) and (min-width: 415px) {
    .productname {
        font-size: 13px;
    }

    .productprice {
        font-size: 13px;
    }

    .productdiscount {
        font-size: 13px;
    }

    .productoff {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1025px) and (min-width:576px) {
    .productname {
        font-size: 11px;
    }

    .productprice {
        font-size: 12px;
    }

    .productdiscount {
        font-size: 12px;
    }

    .productoff {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1441px) and (min-width:1025px) {
    .productname {
        font-size: 12px;
    }

    .productprice {
        font-size: 12px;
    }

    .productdiscount {
        font-size: 12px;
    }

    .productoff {
        font-size: 12px;
    }
}

@media screen and (min-width: 1441px) {
    .productbox {
        width: 18rem;
        position: relative;
    }
}